header {
    height: 9.7vh;
    background-color: #230000;
    position: relative;
}

body {
    background-color: #faf9f6;
    margin: 0;
    padding: 0;
    background-image: url(../img/img-newspaper.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #230000;
}

li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

header img {
    inline-size: 5em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /*Ik heb hier chatgpt gebruikt omdat ik het logo niet meer op de goede plek kreeg*/
}

article {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 3em;
    background-color: #230000;
    border-radius: 1.5em;
    padding: 2em;
    color: #fffef3;
    max-width: 90%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 300px;
}

article img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 1em;
    margin: 0;
}

a {
    display: inline-block;
    color: #fffbf1;
    text-decoration: none;
    padding: 1em;
    position: relative;
    transition: color 0.3s, transform 0.3s ease;
}

a:hover, a:focus {
    color: #faf9f6;
}

nav a {
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav a:hover, nav a:focus {
    color: #faf9f6;
    border-bottom: 2px solid #faf9f6;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-shadow: 4px 4px #230000;
    text-align: center;
    padding-top: 13vh;
    color: #fffbf3;
}

h2, p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fffbf3;
    width: 100%;
    margin: 0;
    line-height: 1.6;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    padding: 1em;
}

section a {
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #faf9f6;
    background-color: #000000;
    border: none;
    font-size: 1em;
    border-radius: 4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

section a:hover, section a:focus {
    color: #230000;
    background-color: #faf9f6;
    transform: scale(1.1);
}
