header {
    height: 9.7vh;
    background-color: #230000;
    position: relative;
}

body {
    background-color: #faf9f6;
    margin: 0;
    padding: 0;
    background-image: url(../img/img-newspaper.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #230000;
}

li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

img {
    inline-size: 5em;
    margin-top: -7.37vh;
    margin-right: 0;
}

nav a {
    display: inline-block;
    color: rgb(255, 251, 241);
    text-decoration: none;
    padding: 1em;
    transition: color 0.3s, border-bottom 0.3s; /*Dankje chatgpt voor hulp met deze transitie*/
    border-bottom: 2px solid transparent;
}

nav a:hover, nav a:focus {
    color: #faf9f6;
    border-bottom: 2px solid #faf9f6;
}

h1, h2, p {
    color: #fffEf3;
}

h2, p {
    display: block;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #230000;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-shadow: 0.11em 0.11em #230000;
    text-align: center;
    padding: 20vh;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1.20em;
}

article {
    background-color: #230000;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

main a {
    color: white;
    text-decoration: none;
    padding: 1em;
    background-color: black;
    border-radius: 3.13em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10vh;
}

main a:hover, main a:focus {
    background-color: white;
    color: black;
    transform: scale(1.1);
}
